.container {
  max-width: 400px;
  margin: 60px auto;
}

.title {
  text-decoration: underline;
  margin: 0 0 1rem;
}

.board {
  border: 3px solid white;
  border-radius: 6px;
  padding: 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 6px;
}

.row {
  display: grid;
  gap: 6px;
}

.word {
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  background: lightslategray;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 700;
  color: black;
  padding: 6px;
  border: 0;
}

.word[aria-current="true"] {
  background: wheat;
}
