.container {
  max-width: 400px;
  display: grid;
  gap: 20px;
}

.title {
  text-decoration: underline;
  margin: 0 0 1rem;
}

.board {
  border: 3px solid white;
  border-radius: 6px;
  padding: 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 6px;
}

.word {
  grid-row: var(--row);
  grid-column: var(--col);
  font-size: 0.8rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  background: lightslategray;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 700;
  color: black;
  padding: 6px;
  border: 0;
}

.word[aria-current="true"] {
  background: wheat;
}

.word[disabled] {
  background: turquoise;
}

@media (min-width: 600px) {
  .word {
    font-size: 1rem;
  }
}

.answer {
  --group-0-color: #f9df6d;
  --group-1-color: #a0c35a;
  --group-2-color: #b0c4ef;
  --group-3-color: #ba81c5;
  grid-row: var(--row);
  grid-column: 1 / -1;
  z-index: 2;
  border-radius: turquoise;
  border-radius: 6px;
  display: grid;
  place-content: center;
  text-align: center;
  font-weight: 700;
}

.answer:nth-of-type(1) {
  background: var(--group-0-color);
  color: black;
}

.answer:nth-of-type(2) {
  background: var(--group-1-color);
  color: black;
}

.answer:nth-of-type(3) {
  background: var(--group-2-color);
  color: black;
}

.answer:nth-of-type(4) {
  background: var(--group-3-color);
  color: black;
}

.connection {
  text-decoration: underline;
}

.footer {
  justify-self: self-end;
}

.reset {
  padding: 8px 6px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid;
}
